@page
@model StarColonies.Web.Pages.Profil
@{
    ViewData["Title"] = "Profil";
}

<div class="container mt-4">
    <section class="mb-5 d-flex flex-column gap-5">
        <div class="row g-5  justify-content-center align-items-center">
            <form method="post" class="mt-3 row g-3 align-items-center" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="col-lg-4 col-md-6" >
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <div class="profil-preview-logo me-3 d-flex align-items-center w-500" style="cursor: pointer;">
                                <img id="avatarPreview" src="~/uploads/logos/@Model.Colon.Avatar" alt="User avatar" class="w-100 h-100 object-fit-cover">
                            </div>
                            <input type="file" id="AvatarFile" name="AvatarFile" accept="image/*" class="d-none">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 d-flex flex-column gap-3">
                    <div class="title-page hall-of-fame">
                        <h3 class="py-3 mb-0 text-center fw-bold font-barlow login-header">PROFIL</h3>
                    </div>

                    <div class="card bg-dark h-100 border-0 shadow">
                        <div class="card-body d-flex flex-column gap-3">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" asp-for="UpdateProfil.Courriel">Courriel*</label>
                                    <input type="email" asp-for="UpdateProfil.Courriel" value="@Model.Colon.Email" class="form-control login-input" placeholder="mon@email.com" required/>
                                    <span class="text-danger" asp-validation-for="UpdateProfil.Courriel"></span>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" asp-for="UpdateProfil.NomDeColon">Nom de colon*</label>
                                    <input type="text" asp-for="UpdateProfil.NomDeColon" value="@Model.Colon.Name" class="form-control login-input" placeholder="abc" required/>
                                    <span class="text-danger" asp-validation-for="UpdateProfil.NomDeColon"></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" asp-for="UpdateProfil.DateDeNaissance">Date de naissance*</label>
                                <input type="date" asp-for="UpdateProfil.DateDeNaissance" class="form-control login-input" placeholder="****" required/>
                                <span class="text-danger" asp-validation-for="UpdateProfil.DateDeNaissance"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" asp-for="UpdateProfil.NouveauMotDePasse">Nouveau mot de passe</label>
                                    <input type="password" asp-for="UpdateProfil.NouveauMotDePasse" class="form-control login-input" placeholder="****"/>
                                    <span class="text-danger" asp-validation-for="UpdateProfil.NouveauMotDePasse"></span>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" asp-for="UpdateProfil.ConfirmationMotDePasse">Confirmation mot de passe</label>
                                    <input type="password" asp-for="UpdateProfil.ConfirmationMotDePasse" class="form-control login-input" placeholder="****"/>
                                    <span class="text-danger" asp-validation-for="UpdateProfil.ConfirmationMotDePasse"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Message))
                    {
                        var alertClass = Model.IsSuccess ? "alert-success" : "alert-danger";
                        <div class="alert @alertClass">@Model.Message</div>
                    }
                    <button type="submit" class="btn btn-purple w-100 mt-auto font-barlow fw-bold">Enregistrer</button>

                    <button type="button" class="btn btn-danger w-100 font-barlow fw-bold" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Supprimer le compte</button>
                </div>
            </form>
        </div>
    </section>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="deleteUserModalLabel">Confirmer la suppression</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">La suppression du compte est <strong>irréversible</strong>, <br>voulez vous continuer ?</div>

            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                <form method="post" asp-page-handler="DeleteAccount">
                    <button type="submit" class="btn btn-danger">Supprimer le compte</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const avatarPreview = document.getElementById('avatarPreview');
            const AvatarFileInput = document.getElementById('AvatarFile');

            AvatarFileInput.addEventListener('change', function() {
                if (this.files && this.files[0]) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        avatarPreview.src = e.target.result;
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            });
            avatarPreview.parentElement.addEventListener('click', function() {
                AvatarFileInput.click();
            });
        });
    </script>
}